@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 30% 20%;
    --card: 60 30% 96%;
    --card-foreground: 25 30% 20%;
    --popover: 60 30% 96%;
    --popover-foreground: 25 30% 20%;
    --primary: 30 100% 60%;
    --primary-foreground: 25 70% 10%;
    --secondary: 30 80% 85%;
    --secondary-foreground: 25 70% 20%;
    --muted: 30 50% 90%;
    --muted-foreground: 30 25% 45%;
    --accent: 25 70% 31%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 40% 80%;
    --input: 30 40% 80%;
    --ring: 30 100% 60%;
    --chart-1: 30 100% 60%;
    --chart-2: 25 70% 45%;
    --chart-3: 60 50% 70%;
    --chart-4: 30 80% 70%;
    --chart-5: 25 60% 50%;
    --radius: 0.5rem;
    --sidebar-background: 25 70% 26%;
    --sidebar-foreground: 60 56% 91%;
    --sidebar-primary: 30 100% 60%;
    --sidebar-primary-foreground: 25 70% 10%;
    --sidebar-accent: 25 70% 31%;
    --sidebar-accent-foreground: 60 56% 95%;
    --sidebar-border: 25 70% 36%;
    --sidebar-ring: 30 100% 60%;
  }
  .dark {
    --background: 25 10% 10%;
    --foreground: 60 30% 92%;
    --card: 25 10% 15%;
    --card-foreground: 60 30% 92%;
    --popover: 25 10% 15%;
    --popover-foreground: 60 30% 92%;
    --primary: 30 90% 55%;
    --primary-foreground: 30 100% 10%;
    --secondary: 25 70% 31%;
    --secondary-foreground: 60 30% 92%;
    --muted: 25 15% 20%;
    --muted-foreground: 60 20% 65%;
    --accent: 30 90% 65%;
    --accent-foreground: 30 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 15% 25%;
    --input: 25 15% 25%;
    --ring: 30 90% 55%;
    --chart-1: 30 90% 55%;
    --chart-2: 25 70% 45%;
    --chart-3: 60 40% 50%;
    --chart-4: 30 80% 60%;
    --chart-5: 25 60% 40%;
    --sidebar-background: 25 10% 10%;
    --sidebar-foreground: 60 30% 92%;
    --sidebar-primary: 30 90% 55%;
    --sidebar-primary-foreground: 30 100% 10%;
    --sidebar-accent: 25 10% 20%;
    --sidebar-accent-foreground: 60 30% 92%;
    --sidebar-border: 25 15% 25%;
    --sidebar-ring: 30 90% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
